
#container{
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/home/background-home-desktop.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#container-destination{
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/destination/background-destination-desktop.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}